.header {
  background-image: url('../imgs/bg.jpg');
  background-position: center top;
  background-size: cover;
  padding: 5vh 5vw;
  margin-bottom: 15px;
  color: #fff;
}

#profile-header {
  padding-left: 30%;
  font-weight: bold;
}

#refresh-btn {
  font-size: 0.5em;
}
#refresh-btn:hover {
  cursor: pointer;
}

thead > tr > td {
  cursor: pointer;
}

.favorite-yellow {
  color: #F3BC0A;
}

.favorite {
  top: 4px;
}