@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* Let the app use native fonts */
body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Noto, Cantarell, "Open Sans", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

/**** Menu Styles ****/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 14px;
  height: 14px;
  left: 15px;
  top: 12px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu .bm-item-list {
  padding: 0;
  max-height: none;
}
.bm-item-list ul {
  float: none;
  display: block;
  list-style: none;
  width: 100%;
}
.bm-menu .bm-item-list li {
  float: none;
  display: block;
  padding: 5px 0px;
  border-top: 1px solid #b8b7ad;
  width: 100%;
}
.bm-menu .bm-item-list li:first-of-type, li:last-of-type {
  border-top: none;
}

.bm-menu .bm-item-list li a {
  padding: 5px 0px;
  cursor: pointer;
  color: #9d9d9d;
  text-decoration: none;
  line-height: 20px;
}

.bm-menu .bm-item-list li a:hover, a:active {
  color: white;
}

.bm-menu .bm-item-list i {
  padding-top: 5px;
  float: right;
}

.bm-menu .bm-item-list .submenu li {
  background-color: rgba(35, 35, 35, 0.4);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/**** Global style ****/

.h2 {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.mra {
  margin-right: auto;
}

.p5 {
  padding: .5em;
}

.ib {
  display: inline-block;
}

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.nav-header {
  background-size: cover;
}

.flex-row {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

#username-h {
  margin-left: 2.5em;
}

.search {
  margin-right: 2.5em;
  background-color:rgba(0, 0, 0, 0.5);
  border-left: 1px solid #000;
  border-radius: 4px;
}

.search .input-group {
  display: flex;
}

.search .input-group-addon {
  background-color: transparent;
  border: 1px solid;
}

.search .input-group-addon, .input-group-btn {
  margin: 0;
  padding-left: .3em;
  padding-right: .3em;
  color: rgba(255, 255, 255, .5);
}

.search label {
  margin: 0;
  padding-left: .3em;
  padding-right: .3em;
  color: rgba(255, 255, 255, .5);
}

.search label button {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
}

.header {
  background-image: url('./imgs/bg.jpg');
  background-position: center top;
  background-size: cover;
  padding: 5vh 5vw;
  margin-bottom: 15px;
  color: #fff;
}

.search input {
  color: white;
  border: unset;
  background: unset;
}

.status-container {
  background-color:rgba(0, 0, 0, 0.7);
}

.status {
  font-size: 10px;
  color: white;
}

.progressbar {
  width: 50%;
}

.progressbar .progress {
  margin-bottom: 0;
}

.table-container {
  margin-top: 120px;
}

#refresh-btn {
  font-size: 0.7em;
  padding-left: 5px;
  vertical-align: middle;
  color: green;
}
#refresh-btn:hover {
  cursor: pointer;
}

thead > tr > td {
  cursor: pointer;
}

tbody > tr > td a {
  cursor: pointer;
}

tbody > tr > td .additional-info {
  font-size: 11px;
  font-weight: 400;
  color: #33ab77;
  vertical-align: super;
}

.favorite-yellow {
  color: #F3BC0A;
}

.favorite {
  cursor: pointer;
  top: 4px;
}

.pointer {
  cursor: pointer;
}

/* Pokemon Detail CSS */

.pokemon-avatar-sprite {
  width: 48px;
  height: 48px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#mv_contents {
margin-left: 30px;
margin-right: 10px;
background: #fafafa;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
padding: 50px;
margin-bottom: 100px;
text-align: center;
border-radius: 3px;
min-height:525px;
display:inline-block;
}

#pokemon_contents {
margin-left: 30px;
margin-right: 30px;
background: #fafafa;
box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
padding: 10px;
text-align: center;
max-width: 550px;
margin: auto;
border-radius: .5rem;
width: 450px;
box-sizing: border-box;
padding-top: 50px;
margin-bottom: 10px;
}

.pokedex-item {
display:inline-block;
margin-left:20px;
margin-right:20px;
text-align:center;
position: relative;
margin-bottom:20px;
}

.move-item {
display:block;
margin-left:20px;
margin-right:20px;
text-align:center;
position: relative;
margin-bottom:20px;
height:100px;
width:400px;
border-bottom:1px solid lightgrey;
}

.move-item-details {
position: absolute;
bottom: 0;
margin: auto;
display: block;
left: 0;
right: 0;
}

.move-item-details-text-left {
position: absolute;
left: 40px;
bottom:20px;
color:#717171;
font-size:10px;
text-transform: uppercase;
}

.move-item-stat {
font-size: 16px;
top: 1px;
color: #3c605c;
text-transform: capitalize;
position: relative;
left: 5px;
margin-right: 6px;
vertical-align: bottom;
}

.move-item-details-text-right {
position: absolute;
right:40px;
bottom:20px;
color:#717171;
font-size:10px;
text-transform: uppercase;
text-align: right;
}

.pokemon-glow {
position:absolute;
top:0;
left:0;
border-radius:100%;
background: rgba(0,0,0,0);
height:120px;
width:100%;
opacity: 0;
transition: opacity  0.5s;
z-index: 1;
}

.pokedex-item:hover .pokemon-glow{
border-radius:100%;
opacity: 0.3;
transition: opacity  0.5s;
background: -moz-radial-gradient(center, ellipse cover,  rgba(92,193,179,1) 0%, rgba(115,187,217,0) 71%, rgba(125,185,232,0) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(92,193,179,1) 0%,rgba(115,187,217,0) 71%,rgba(125,185,232,0) 100%);
background: radial-gradient(ellipse at center,  rgba(92,193,179,1) 0%,rgba(115,187,217,0) 71%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc1b3', endColorstr='#007db9e8',GradientType=1 );

}

.pokemon-name {
text-transform: capitalize;
position:relative;
top: -10px;
z-index: 2;
text-decoration: none;
color:black;
}

.pokemon-type {
display:none;
}

.pokemon-sprite {
height: 60px;
width: 60px;
padding-top: 10px;
position:relative;
z-index: 2;
}

#pokemon_profile_sprite {
position: absolute;
bottom: -30px;
margin: auto;
left: 0;
right: 0;
cursor: pointer;
max-width: 400px;
height: 90%;
object-fit: contain;
image-rendering: pixelated;
}

#pokemon_sprite_wrapper {
height:245px;
position: relative;
}

#pokemon_sprite_sphere_wrapper {
overflow: hidden;
height: 200px;
display: block;
width: 394px;
margin: auto;
}

#pokemon_sprite_sphere {
position: relative;
height: 390px;
width: 390px;
border-radius: 100%;
display: block;
margin: auto;
padding-top: 60px;
box-sizing: border-box;
border: 5px solid #e1e1e8;
opacity: 0.3;
}

#pokemon_sprite_sphere_dot {
position: absolute;
bottom: 15px;
right: 0px;
left: 279px;
height: 10px;
width: 10px;
background: #d8d8d8;
border-radius: 100%;
transform: rotate(0deg) translate(-192px);
}

#pokemon_name {
font-size: 40px;
color:#466c6d;
text-transform: capitalize;
}

#pokemon_health_bar {
display: block;
margin: 8px auto;
width: 240px;
background: #6ceaba;
height: 8px;
border-radius: 1rem;
border: 1px solid #61cea4;
box-sizing: border-box;
}

#pokemon_health {
font-size: 20px;
color: #383e3c;
margin-bottom: 16px;
}

.pokemon_info {
display: block;
width: 100%;
height: 80px;
position:relative;
border-bottom: 1px solid #e2e2e2;
border-top: 1px solid #e2e2e2;
margin-bottom: -1px;
}

.pokemon-info-item {
display: inline-flex;
flex-direction: column;
justify-content: center;
align-content: center;
height: 100%;
position: relative;
}

.split-2-way{
width: 49%;
}

.split-3-way{
width: 32%;
}

.split-4-way{
width: 24%;
}

.split-2-way,
.split-3-way,
.split-4-way {
box-sizing: border-box;
border-left: 1px solid #e2e2e2;
}

.split-2-way:nth-child(1),
.split-3-way:nth-child(1),
.split-4-way:nth-child(1) {
  border-left: none;
}

.pokemon-info-item-title {
color: #717171;
text-transform: uppercase;
letter-spacing: 0.5px;
}

.pokemon-info-item-text {
font-size: 16px;
text-transform: capitalize;
font-weight: 600;
}

.pokemon-stat-unit {
color: #717171;
font-size: 14px;
position: relative;
text-transform: lowercase;
}

.combat-stat{
color: #8e4646;
}

.cp-upgrade {
color: #32b741;
}

.candy-count{
color: #3c605c;
}

#pokemon_evolve_info {
display: block;
width: 100%;
margin: 16px 0;
position: relative;
border-top: 1px solid #e2e2e2;
}

.pokemon-evolve-info-item {
display:inline-block;
margin-left: 1rem;
}

.pokemon-evolve-info-item:nth-child(2) {
margin-left: 0;
}

.pokemon-evolve-info-item-title {
margin-top: -16px;
text-transform: capitalize;
text-decoration: none;
color:#466c6d;
}

.pokemon-evolve-info-title {
margin-top:24px;
margin-bottom: 8px;
color: #717171;
text-transform: uppercase;
letter-spacing: 0.5px;
}

.pokemon_move_info {
display: inline-block;
width:100%;
position:relative;
}

.pokemon-move-item {
display:inline-flex;
align-items: center;
position: relative;
height: 60px;
width:100%;
color:#3C4741;
}

.pokemon-move-item-title {
margin-top: 24px;
margin-bottom: 8px;
color: #717171;
text-transform: uppercase;
letter-spacing: 0.5px;
}

.pokemon-move-item.mine{
border-radius: .5rem;
border:1px solid #B8B8BB;
background-color:#E8E8EE;
}

.pokemon-move-item.notmine{
border:0px solid white;
}

.pokemon-move-item-text-area{
display:inline-block;
width:40%;
}

.pokemon-move-title {
display:block;
font-size:16px;
font-weight: bold;
text-transform: capitalize;
color:#3c605c;
}

.pokemon-move-type {
display:block;
font-size: 14px;
text-transform: capitalize;
}

.pokemon-move-damage {
display: inline-block;
width:20%;
text-transform: capitalize;
color:#3c605c;
text-align: center;
font-weight: 600;
font-size: 16px;
}

.pokemon-move-cost {
display: inline-flex;
justify-content: space-around;
width:40%;
}

.pokemon-move-cost-item {
display:inline-block;
height:10px;
background: rgb(68,180,252);
background: -moz-linear-gradient(top,  rgba(68,180,252,1) 0%, rgba(104,225,251,1) 100%);
background: -webkit-linear-gradient(top,  rgba(68,180,252,1) 0%,rgba(104,225,251,1) 100%);
background: linear-gradient(to bottom,  rgba(68,180,252,1) 0%,rgba(104,225,251,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b4fc', endColorstr='#68e1fb',GradientType=0 );
border:3px solid #afdaff;
border-radius:1rem;
}

.pokemon-cp{
text-align: center;
fontSize: 18px;
font-weight: bold;
}

#detailModal .modal-outline-white {
  color: white;
  opacity: 1;
}

.close {
  color: white;
  opacity: 0.75;
}

.close:hover, .close:focus {
  color: white;
  opacity: 1;
}

#detailModal .modal-header{
border-bottom: 0;
}

.modal-content {
  border: none;
  border-radius: .5rem;
}

.pokemon-move-type.normal {color:    #A8A878;}
.pokemon-move-type.fire {color:      #F08030;}
.pokemon-move-type.water {color:     #6890F0;}
.pokemon-move-type.grass {color:     #78c850;}
.pokemon-move-type.electric {color:  #f8d030;}
.pokemon-move-type.ice {color:       #98d8d8;}
.pokemon-move-type.ground {color:    #e0c068;}
.pokemon-move-type.flying {color:    #a890f0;}
.pokemon-move-type.poison {color:    #a040a0;}
.pokemon-move-type.fighting {color:  #c03028;}
.pokemon-move-type.psychic {color:   #f85888;}
.pokemon-move-type.dark {color:      #705848;}
.pokemon-move-type.rock {color:      #b8a038;}
.pokemon-move-type.bug {color:       #a8b820;}
.pokemon-move-type.ghost {color:     #705898;}
.pokemon-move-type.steel {color:     #b8b8d0;}
.pokemon-move-type.dragon {color:    #7038f8;}
.pokemon-move-type.fairy {color:     #ffaec9;}

/***
React Datatables
***/

table {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
}

table thead > tr > th.sorting_asc, table thead > tr > th.sorting_desc, table thead > tr > th.sorting,
table thead > tr > td.sorting_asc,
table thead > tr > td.sorting_desc,
table thead > tr > td.sorting {
  padding-right: 30px;
}
table thead > tr > th:active,
table thead > tr > td:active {
  outline: none;
}

table thead > tr > th:focus,
table thead > tr > td:focus {
  outline: none;
}
table thead .sorting,
table thead .sorting_asc,
table thead .sorting_desc,
table thead .sorting_asc_disabled,
table thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table thead .sorting:after,
table thead .sorting_asc:after,
table thead .sorting_desc:after,
table thead .sorting_asc_disabled:after,
table thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 4px;
  right: 8px;
  display: block;
  font-family: 'FontAwesome';
  opacity: 0.5;
}
table thead .sorting:after {
  opacity: 0.2;
  content: "\f0dc";
  /* sort */
}
table thead .sorting_asc:after {
  content: "\f0de";
  /* sort-by-attributes */
}
table thead .sorting_desc:after {
  content: "\f0dd";
  /* sort-by-attributes-alt */
}
table thead .sorting_asc_disabled:after,
table thead .sorting_desc_disabled:after {
  color: #eee;
}

td.details-control:before {
  font-family:"FontAwesome";
  content:"\f055";
  cursor: pointer;
}

tr.shown td.details-control:before {
  font-family:"FontAwesome";
  content:"\f056";
}

table tbody tr.child {
    background: white;
}
table tbody tr.child:hover {
    background: none;
}

/*Confirmation*/
.confirmationTable {
  border: 1px solid black;
  max-height: 200px;
  overflow-y: scroll;
}

.confirmationTable table {
  font-size: 13px !important;
}

.confirmationTable table thead {
  font-weight: bold;
}

.confirmationTotal {
  padding-top: 10px !important;
}

.fa-pencil {
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
}

/*Input Styles*/

input#toggle {
  display: block;
  position: relative;
  /* box-shadow: inset 0 0 0px 1px #d5d5d5; */
  border-width: 1.5px;
  border-style: solid;
  border-color: #d5d5d5;
  box-sizing: border-box;
  text-indent: -5000px;
  height: 31px;
  width: 51px;
  border-radius: 15.5px;
  -webkit-appearance: none;
}

input#toggle:checked {
  border-color: rgba(76,217,100,1);
  -webkit-transition: .25s cubic-bezier(0.77, 0, 0.175, 1);
}

/* background OFF */

input#toggle:before {
  content: "";
  position: absolute;
  display: block;
  height: 29px;
  width: 28px;
  border-radius: 14px;
  top: 0px;
  left: 0px;
  background: rgba(19,191,17,0);
  box-sizing: border-box;
  -webkit-transition: .25s cubic-bezier(0.77, 0, 0.175, 1);
}

/* button OFF */

input#toggle:after {
  content: "";
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  top: 0px;
  left: 0px;
  border-radius: 14px;
  background: white;
  box-shadow: 0 0px 1px rgba(0,0,0,.4), 0 4px 2px rgba(0,0,0,.1);
  -webkit-transition: .2s cubic-bezier(0.77, 0, 0.175, 1);
}

/* background ON */

input#toggle:checked:before {
  width: 48px;
  background: rgb(76,217,100); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(76,217,100,1) 0%, rgba(73,211,97,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,217,100,1)), color-stop(100%,rgba(73,211,97,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(76,217,100,1) 0%,rgba(73,211,97,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(76,217,100,1) 0%,rgba(73,211,97,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(76,217,100,1) 0%,rgba(73,211,97,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(76,217,100,1) 0%,rgba(73,211,97,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd964', endColorstr='#49d361',GradientType=0 ); /* IE6-9 */
}

/* button ON */

input#toggle:checked:after {
  left: 20.25px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input#toggle,
.btn:focus,
.btn:active:focus {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  outline: 0 none;
}
